@tailwind base;

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

blockquote {
  @apply ml-4;
  @apply pl-2;
  @apply border-l-2;
  @apply italic;
}

@tailwind components;
@tailwind utilities;

.w-90p {
  width: 90%;
}

.w-50p {
  width: 50%;
}

.w-5p {
  width: 5%;
}

.tiptap_placeholder::before {
  float: left;
  height: 0;
  content: attr(data-empty-text);
}

.mode-dark .dark\:focus\:border-gray-400:focus,
.mode-dark.dark\:focus\:border-gray-400:focus {
  border-color: #bdbdbd;
}

.mode-dark .dark\:hover\:border-gray-300:hover,
.mode-dark.dark\:hover\:border-gray-300:hover {
  border-color: #e0e0e0;
}

.min-h-64 {
  min-height: 16rem;
}

.min-h-32 {
  min-height: 8rem;
}

.min-w-8 {
  min-width: 2rem;
}

.h-75vh {
  height: 75vh;
}

.w-45vw {
  width: 45vw;
}

.modal-fade-enter,
.modal-fade-leave-active {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-45vw);
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.15s ease-in-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease-in-out;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999999s !important;
  -webkit-transition: background-color 9999s ease-in-out !important;
  -webkit-text-fill-color: var(--autofill-color) !important;
} */
