@tailwind base;

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

blockquote {
  @apply ml-4;
  @apply pl-2;
  @apply border-l-2;
  @apply italic;
}

a {
  @apply underline cursor-pointer;
}

@tailwind components;
@tailwind utilities;

.w-90p {
  width: 90%;
}

.w-50p {
  width: 50%;
}

.w-5p {
  width: 5%;
}

.tiptap_placeholder::before {
  float: left;
  height: 0;
  content: attr(data-empty-text);
}

.mode-dark .dark\:focus\:border-gray-400:focus,
.mode-dark.dark\:focus\:border-gray-400:focus {
  border-color: #bdbdbd;
}

.mode-dark .dark\:hover\:border-gray-300:hover,
.mode-dark.dark\:hover\:border-gray-300:hover {
  border-color: #e0e0e0;
}

.mode-dark .dark\:hover\:bg-gray-600:hover,
.mode-dark.dark\:hover\:bg-gray-600:hover {
  background-color: #757575;
}

.min-h-64 {
  min-height: 16rem;
}

.min-h-32 {
  min-height: 8rem;
}

.min-w-6 {
  min-width: 1.5rem;
}

.h-75vh {
  height: 75vh;
}

.w-45vw {
  width: 45vw;
}

.w-13 {
  width: 3.25rem;
}

.modal-bg-fade-enter,
.modal-bg-fade-leave-active {
  opacity: 0;
}

.modal-bg-fade-enter-active,
.modal-bg-fade-leave-active {
  transition: opacity 0.15s ease-in-out;
}

.modal-content-fade-enter,
.modal-content-fade-leave-active {
  opacity: 0;
}

.modal-content-fade-enter-active,
.modal-content-fade-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-45vw);
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.15s ease-in-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease-in-out;
}

.progress-line,
.progress-line:before {
  height: 3px;
  width: 100%;
}
.progress-line {
  background-color: #90caf9;
  display: -webkit-flex;
  display: flex;
}
.progress-line:before {
  background-color: #1976d2;
  content: "";
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
